// Main

@use "variables" as v;

html {
  font-size: 14px;
}

body {
  font-family: v.$main-family;
  color: v.$main-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: v.$header-family;
  font-weight: v.$header-weight;
}

// Section header
h2.section-header {
  font-size: 0.9rem;
  text-transform: uppercase;
  border-top: v.$section-border;
  padding-top: 5px;
  margin: 1.5rem 0 1.5rem 0;
  letter-spacing: 1px;
}

// Links
a {
  color: v.$main-color;
  text-decoration: none;
  padding: 2px 0 0 2px;
  transition: background 0.5s;
  border-radius: 3px;
  &:hover {
    color: v.$link-hover-color;
    background: rgba(166, 140, 145, 0.5);
  }
}

// Header
header {
  & h1 {
    font-size: 3.25rem;
    text-align: center;
  }

  & .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1.5rem;
    & i.ti {
      padding-right: 5px;
    }
    & span {
      display: flex;
    }
  }
}

// Entries
ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding-left: 1.2em;
  max-width: 90%;
  &.publication-list {
    & li {
      padding-bottom: 5px;
    }
  }
  & li {
    &::before {
      content: "\2013";
      font-weight: 600;
      position: absolute;
      left: 0;
    }
  }
}

.entry {
  & .entry-header {
    display: flex;
    justify-content: space-between;
    font-family: v.$header-family;
    font-weight: v.$header-weight;
    font-size: 0.95rem;
    text-transform: uppercase;
    margin-top: 1.5rem;
  }

  & .company {
    font-style: italic;
    margin-left: -1px;
  }
}

// Sections

.section-comment.top {
  margin-top: -1rem;
}

// Last updated
.last-updated {
  position: absolute;
  font-family: v.$header-family;
  font-weight: 709;
  font-size: 90%;
  font-variant-caps: all-small-caps;
  color: #555555;
  letter-spacing: 0.1px;
  bottom: 0;
  right: 0;
}

// Language bars
.skill-container {
  width: 67%;
  height: 1.7rem;
  font-family: v.$header-family;
  font-weight: v.$header-weight;
  background: rgba(0, 0, 0, 0.1);
  margin: 0.15rem 0;
  overflow: hidden;

  & .skill-bar {
    display: flex;
    height: 100%;
    color: white;
    background-color: #555555;
    font-variant-caps: all-small-caps;
    padding-left: 5px;
    align-items: center;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
  }
}
