// Variables

@import url("https://fonts.cdnfonts.com/css/cooper-hewitt"); // Cooper Hewitt
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"); // Source Sans 3

$main-family: "Source Sans 3", "Helvetica", serif;
$main-color: #4c4c4c;

$header-family: "Cooper Hewitt", "Helvetica", sans-serif;
$header-weight: 711;

$section-border: 2px solid #444444;

$link-hover-color: rgb(85, 85, 85);
